
.navbar {
	box-shadow: 2px 2px 5px grey;
}
#cover{
	position: relative;

}
#Character{
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
#Character{
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}



@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@media(max-width: 768px)
{
		h1{
			font-size:
		}
	
}