html, body {width: auto!important; overflow-x: hidden!important } 

body{
  font-family: 'Poppins', sans-serif;
  background: rgb(255,72,0);
background: linear-gradient(90deg, rgba(255,72,0,1) 0%, rgba(235,150,94,0) 0%, rgba(245,126,48,0.0673572668868504) 49%, rgba(255,102,0,0) 100%); 
}
.navbar {
	box-shadow: 2px 2px 5px grey;
}

.rang{
  color:rgb(195,67,76);
   font-size: 3.5rem;
    font-weight: 100;
    line-height: 1.2;
}
.card{
border:0;
position: relative;

}
.icon{

  transition: transform 0.8s ease;
}
.icon:hover{
 transform: scale(1.05);
}

.card-img{
    

}
.card-body {

  transition: 0.3s;
  transition: ease-in-out 0.4s;
  border-radius: 5px;
}

.card-text {
  color:black;
}
.card-title {
  color: black;
  text-align: center;
}

.card:hover .card-body {
  background: #eee;
  color: white;
}

#cover{
	position: relative;

}
#Character{
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
#Character{
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}



@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}


@media(max-width: 768px)
{
    img{
        height: auto;
    width: 256px;
    }

		svg{
			 height:360px;
       width: auto;
		}
    h3{
      font-size: 1.25rem;
    }
   #about p{
      font-size: 1.05rem;
    }
   #project p{ 
    font-size: 0.94rem ;
    }
   .rang{
    font-size: 3rem;
   }
   #event .h2{
     font-size: 1.75rem;
    }
   
   
	
}



